@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body,
button,
input {
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  background-color: #dcf2f8;
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #00dea3;
  border-radius: 2rem;
}

section {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
