@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

:root {
  --primary-color: #00dea3;
  --secondary-color: #868cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body,
button,
input {
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  background-color: #dcf2f8;
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #00dea3;
  border-radius: 2rem;
}

section {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.gap {
  gap: 1rem;
}

.b-rad-1 {
  border-radius: 1rem;
}
